html{
  background-color:  rgba(83,85,58, 0.4);
}
html,
body {
  margin: 0;
  padding: .5%;
  height: 100vh;      /* or min-height: 100vh; */
  font-family: Arial, sans-serif;

}
body {
  flex-direction: column;
  height: 100%;
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
}

footer {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.footer_h3{
  padding-top: 1%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.socials_footer {
  width: 100%;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.socials{
  padding: 0%;
}
.menu_img {
  
  width: 100px;
  height: 100px;
  margin: 10px;
}
.social_img
{
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
ul{
  padding: 0%;
  margin: 0%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px 3px;
  background-image:     linear-gradient(rgba(250,195,103, 0.55), rgba(83,85,58, 0.19)),
  url("../img/mimosa.png");
   /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  background-size: contain;
background-repeat: no-repeat;
background-position: center;
  /* border: 2px solid black; */
}
#menu{
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
  
}
.cards{
  height: 70%;
  width: 100%;

  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  overflow: hidden;
}

.cards > * {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}

.left_card{
  height: 100%;
  width: 50%;
  /* border: 2px solid red; */

}
.right_card{
  height: 100%;
  width: 50%;
  /* border: 2px solid blue; */
}

h5{
  text-align: center;
  margin: 0px;
  margin-bottom: .5%;
  font-size: large;
  font-weight: 600;
}
hr{
  margin: 0px;
}

.cards table {
  width: 100%;
  border-collapse: collapse;
}

.cards td {
  padding: .5%;
  vertical-align: top;
}
ul{
  display: flex;
  gap: 5px;
}
li{
  display: inline;
}

ul.ingredients li,
ul.ingredients_options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}
.ingredients,
.ingredients_options {
  display: flex;
  flex-wrap: wrap;
  gap: 6px; 
  padding-left: 0;
  list-style: none;
}

table {
  padding: 10px;
  border-radius: 6px;
}
.bottom_card{
  height: 50%;
  width: 100%;
  border: 2px solid orange;
}
img{
  width: 50px;
  height: 50px;
}
