html,
body {
  margin: 0;
  padding: .5%;
  height: 100vh;      /* or min-height: 100vh; */
  font-family: Arial, sans-serif;

}
body {
  flex-direction: column;
  height: 100%;
  display: flex;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
}

footer {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.socials_footer {
  width: 100%;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.menu_img {
  width: 100px;
  height: 100px;
  margin: 10px;
}


.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
#menu{
  text-align: center;
  margin-top: 1%;
  
}